lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/codeStyles/Project.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/codeStyles/codeStyleConfig.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/misc.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/sbt.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/vcs.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.gitignore
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/.gitignore
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/codeStyles/Project.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/codeStyles/codeStyleConfig.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/misc.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/sbt.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/scala_compiler.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/scala_settings.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/vcs.xml