lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/codeStyles/Project.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/codeStyles/codeStyleConfig.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/misc.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/sbt.xml
lesson02_getting_started/sub02_application/Task01_HelloWorld/.idea/vcs.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.gitignore
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/.gitignore
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/codeStyles/Project.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/codeStyles/codeStyleConfig.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/misc.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/sbt.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/scala_compiler.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/scala_settings.xml
lesson02_getting_started/sub03_variables/Task01_DifferenceTwoIntegers/.idea/vcs.xml
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.gitignore
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/.gitignore
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/codeStyles/Project.xml
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/codeStyles/codeStyleConfig.xml
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/misc.xml
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/sbt.xml
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/scala_compiler.xml
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/scala_settings.xml
lesson02_getting_started/sub03_variables/Task02_MultipleThreeIntegers/.idea/vcs.xml
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.gitignore
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/.gitignore
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/codeStyles/Project.xml
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/codeStyles/codeStyleConfig.xml
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/misc.xml
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/sbt.xml
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/scala_compiler.xml
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/scala_settings.xml
lesson02_getting_started/sub04_namespace/Task01_NamespaceConfig/.idea/vcs.xml
lesson03_types/sub01_types/Task01_NormalDistribution/.gitignore
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/.gitignore
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/codeStyles/Project.xml
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/codeStyles/codeStyleConfig.xml
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/misc.xml
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/sbt.xml
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/scala_compiler.xml
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/scala_settings.xml
lesson03_types/sub01_types/Task01_NormalDistribution/.idea/vcs.xml
lesson03_types/sub02_numbers/Task01_CrispsWeight/.gitignore
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/.gitignore
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/codeStyles/Project.xml
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/codeStyles/codeStyleConfig.xml
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/misc.xml
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/sbt.xml
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/scala_compiler.xml
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/scala_settings.xml
lesson03_types/sub02_numbers/Task01_CrispsWeight/.idea/vcs.xml
